/.idea
/auth.json
/vendor
/build
/coverage
/node_modules
package-lock.json
composer.phar
composer.lock
phpunit.xml
.phpunit.result.cache
.phpunit.cache
.DS_Store
/yarn.lock
Thumbs.db
/.php-cs-fixer.cache
